.jumbotron {
    background-image: url("bootstrappicture.jpg");
    height: 300px;
    background-size: auto 150%;
    background-repeat: no-repeat;
}
.jumbotron h1 {
    text-align: center;
    color: rgb(70, 97, 74)
}
body {
    background-color: rgb(219, 160, 173);
}