.jumbotron {
    background-image: url("soccer2.jpg");
    height: 350px;
    background-size: auto 110%;
    background-repeat: no-repeat;
}
.jumbotron h1 {
    text-align: center;
    color: rgb(13, 34, 37);
    background-color:rgba(179, 118, 155, 0.553);
    margin-left: 200px;
    margin-right: 200px;

}
body {
    background-color: rgb(196, 121, 150);
}
